{% set refund_payment = hookable_metadata.context.refund_payment %}

<td class="py-2">
    <strong {{ sylius_test_html_attribute('refund-payment-method') }}>{{ refund_payment.paymentMethod }}</strong>
</td>
