<div class="card mb-3">
    <div class="card-header">
        <div class="card-title">
            {{ 'sylius.ui.items'|trans }}
        </div>
    </div>
    <div class="table-responsive">
        <table id="refunds" class="table table-vcenter card-table">
            <thead>
                <tr>
                    {% hook 'table.header' %}
                </tr>
            </thead>
            <tbody>
                {% hook 'table.body' %}
            </tbody>
        </table>
    </div>
</div>
