{% if credit_memos|length > 0 %}
    <div class="card border-0 bg-body-tertiary mb-3" id="credit-memos">
        {% hook 'sylius_shop.account.order.show.content.main.credit_memos' with { credit_memos } %}
    </div>
{% endif %}
