<button type="submit" class="dropdown-item" {{ sylius_test_html_attribute('clear-all') }}>
    {{ ux_icon('tabler:repeat', {'class': 'icon dropdown-item-icon'}) }}
    {{ 'sylius_refund.ui.refund_all'|trans }}
</button>

