{% set unit = hookable_metadata.context.unit %}

<td class="w-1">
    <button
        data-refund="{{ unit_refund_left(unit.id, constant('Sylius\\RefundPlugin\\Model\\RefundType::ORDER_ITEM_UNIT'), unit.total) }}"
        type="button"
        class="btn"
        {% if not can_unit_be_refunded(unit.id, constant('Sylius\\RefundPlugin\\Model\\RefundType::ORDER_ITEM_UNIT')) %}disabled{% endif %}
        {{ sylius_test_html_attribute('refund-item-button') }}
    >
        {{ ux_icon('tabler:truck') }}
        {{ 'sylius_refund.ui.refund'|trans }}
    </button>
</td>
