<td class="w-1">
    <a href="{{ path('sylius_refund_shop_credit_memo_download', {'id': hookable_metadata.context.credit_memo.id}) }}" {{ sylius_test_html_attribute('download-button') }}>
        {{ ux_icon('tabler:download') }}
    </a>
</td>
