{% from '@SyliusAdmin/order/macro/order_state_label.html.twig' import label %}

{% set credit_memo = hookable_metadata.context.credit_memo %}

<div class="col-12 col-md-6">
    <div class="d-flex gap-2 align-items-center">
        <h1 class="page-title" {{ sylius_test_html_attribute('credit-memo-number') }}>
            {{ 'sylius_refund.ui.credit_memo'|trans }}
            #{{ credit_memo.number }}
        </h1>
    </div>
</div>
