<div class="col-12 col-md-6">
    <div class="field">
        <label for="sylius-refund-comment" class="form-label">{{ 'sylius.ui.comment'|trans }}</label>
        <textarea rows="3" name="sylius_refund_comment" id="sylius-refund-comment" class="form-control" style="height: 8rem;"></textarea>
    </div>
</div>
