<div class="ui right aligned grid">
    <div class="sixteen wide column">
        {% hook 'sylius_refund.admin.order.refund.buttons' %}
        <div class="ui hidden divider"></div>
    </div>
</div>
