{% set credit_memo = hookable_metadata.context.credit_memo %}

{% if credit_memo.to != null and credit_memo.to.taxId != null %}
    <div class="col-12 col-md-6 mb-3">
        <div class="card h-full">
            {% hook 'seller_card' with { credit_memo } %}
        </div>
    </div>
{% endif %}
